<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>From</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if @received_messages %>
    <% @received_messages.each_with_index do |unread, index| %>
      <tr <%= 'class=table-active' if not unread.seen? %>>
          <th scope="row"><%=index+1%></th>  
          <th><%=link_to "#{unread.sender.name}", message_path(unread) %></th>
          <th> <%= time_ago_in_words(unread.created_at) + " ago" %></th>
        </tr>
    <%end%>
  <% end %>
    </tbody>
</table>
