<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Sent to</th>
      <th>Read at</th>
    </tr>
  </thead>
  <tbody>
  <% if @sent_messages %>
    <% @sent_messages.each_with_index do |message, index| %>
      <tr>
          <th scope="row"><%=index+1%></th>  
          <th><%= message.recipient.name %></th>
          <th> <%= message.seen? ? time_ago_in_words(message.seen_at) + " ago" : "Unread" %></th>
        </tr>
    <%end%>
  <% end %>
    </tbody>
</table>
