<div class="row">
  <%= link_to "Add friend", "#", class: "btn btn-primary" %>
  <%= link_to "New message", "#", class: "btn btn-primary" %>
  <%= link_to "Sent message", "#", class: "btn btn-primary" %>
</div>
